* {
  margin: 0;
  padding: 0;
  font-family: "Imprima", sans-serif;
  font-size: 1.1rem;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #9c59b627;
}
::-webkit-scrollbar-thumb {
  background: #874c9e;
  border-radius: 10px;
}

:root {
  color: black;
  background-color: #f9f9f9;
}

/* HEADER */

header {
  background: rgba(142, 68, 173, 0.13);
}

.navbar {
  background-color: #9b59b6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #f9f9f9;
}

.logo {
  width: 5rem;
}

input {
  border-radius: 8px;
  border: none;
  height: 40px;
  color: #9b59b6;
  outline: none;
}

input::placeholder {
  color: #9b59b6;
}

input:focus {
  background: #f3d6ff;
  transition: 1s;
}

.contact {
  background-color: #ebe2ef;
  color: #b578ce;
}

.vista {
  background-color: #cba2db;
  color: #ebe2ef;
}

.contact:hover,
.vista:hover {
  background-color: #00000033;
  transition: 1s;
}

.contact,
.vista {
  border-radius: 5px;
  padding: 12px 15px;
  text-decoration: none;
}

.bi {
  font-size: 1.3rem;
}

.divider {
  height: 0.5px;
  background-color: #f9f9f9;
}

ul,
.menu,
.menu-2 {
  text-decoration: none;
  list-style: none;
  color: #f9f9f9;
}
.menu {
  padding: 10px;
  font-size: 1.05rem;
}

.menu-2 {
  padding: 12px;
  font-size: 1rem;
}

.menu:hover,
.menu-2:hover {
  background: #ad7ec09a;
  transition: 0.5s;
  border: 1px solid #874c9e;
}

.ubica,
.bi-geo-alt-fill {
  color: #d8b7e5;
  font-size: 0.9rem;
}

/* SOBRE MI */
img {
  width: 100vw;
}

.fondo-presentacion {
  background-image: url(/assets/sobremi.png);
  background-size: cover;
  max-height: 100%;
  animation: color-change-2x 2s linear infinite alternate both;
}

.presentacion {
  color: #f9f9f9;
}

.avatar-bruju-lg {
  width: 80%;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  z-index: 2;
}

h1,
h2,
.nombre {
  font-family: "Nunito", sans-serif;
  font-weight: 800 !important;
  line-height: 150% !important;
  font-size: 1.6rem !important;
}

.nombre, span {
  color: #ce87ec;
}
p {
  font-size: 1.2rem;
}

.jr-front {
  width: 22ch;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #18bdec;
  animation: escribiendo 5s steps(35) infinite alternate,
    blink 1s steps(1) infinite;
}

.btn-cv {
  position: relative;
  top: 15px;
  background-color: #9b59b6;
  border: 1px solid rgba(0, 0, 0, 0.692);
  color: #f9f9f9;
  border-radius: 8px;
  z-index: 2;
}

.btn-cv:hover {
  background-color: #ce87ec;
  box-shadow: -7px 7px 0px #221e1e;
  transform: translateY(-5px);
  transition: 1s;
}

/* CERTIFICATE */

.certificate {
  background-color: #f9f9f9;
  color: #9b59b6;
}

.box {
  position: relative;
  border: 2px solid #9b59b6;
  border-radius: 10px;
  animation: flicker-1 3s linear infinite both;
}

.box:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.curso {
  font-size: 1.4rem;
}

.logo-coder {
  width: 4rem;
}

.academ {
  background-color: #9b59b6;
  border-radius: 5px;
  color: #f9f9f9;
}

.fecha {
  border: 1px solid #9b59b6;
  border-radius: 5px;
}

.texto {
  font-size: 1rem;
  margin: 0;
}

.btn-disabled:hover {
  background-color: #9b59b6;
  box-shadow: none;
  transform: none;
}

/* SKILLS */

.skills {
  background-color: rgba(142, 68, 173, 0.13);
  color: #9b59b6;
}

.cont-skill {
  background-color: #9b59b6;
  border-radius: 8px;
}

.cont-skill:hover {
  transform: translateY(-15px);
  box-shadow: -7px 7px 0px #020202;
  transition: 0.5s;
}

.name-skill {
  color: #f9f9f9;
}

.btn-git {
  background-color: #f9f9f9;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.74);
  border-radius: 8px;
  z-index: 2;
  position: relative;
  top: 15px;
}

.btn-git:hover {
  box-shadow: -7px 7px 0px rgb(43, 38, 38);
  background-color: #d4d4d4d3;
  transform: translateY(-5px);
  transition: 0.5s;
}

.projects {
  background-color: #f9f9f9;
  color: #9b59b6;
}

.div-projects {
  overflow: hidden;
}

.project-container {
  position: relative;
  background-color: rgba(75, 45, 82, 0.1);
  color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
}

.project-container::before {
  content: "";
  position: absolute;
  top: -100px;
  width: 60%;
  height: 160%;
  background: linear-gradient(#ff00c8, #8c00ff);
  animation: rotate 4s linear infinite;
  overflow: hidden;
}

.project-container::after {
  content: "";
  position: absolute;
  background: #9b59b6;
  border-radius: 5px;
  inset: 4px;
}

.project-container:hover {
  animation: blink-2 0.9s both;
  transition: 1s;
}

.title-project {
  z-index: 2;
  font-size: 1.7rem;
  text-shadow: 2px 2px black;
}
.subtitulo {
  z-index: 2;
  color: #d9d9d9;
  font-size: 1rem;
}

p {
  z-index: 2;
}

/* CONTACTO */

.bi-arrow-up-circle-fill {
  position: relative;
  font-size: 3rem;
  top: -150px;
  float: right;
  right: 20px;
}

.a {
  color: #9b59b6;
}

.a:hover {
  color: #b578ce;
  transition: 0.5s;
}

.bi-linkedin,
.bi-whatsapp,
.bi-envelope-at-fill {
  font-size: 2rem;
}

/* footer */
.footer {
  background-color: #9b59b6;
  color: #f9f9f9;
}

/* Modal */

.modal {
  position: absolute;
  background-color: #02020294;
}
.cont-modal {
  position: relative;
  top: 25vh;
  color: #f9f9f9;
  background-color: #8831aae8;
  border: 1px solid #dec5e7a8;
  border-radius: 8px;
  height: min-content;
}

.close {
  border-bottom: 1px solid #dec5e7a8;
}

.bi-x-square-fill {
  cursor: pointer;
}

.bi-x-square-fill:hover {
  color: #380431;
}

.cv {
  text-decoration: none;
  color: #f9f9f9;
}

.cv:hover {
  color: #380431;
  transition: .5s;
}

.bi-file-earmark-pdf-fill{
  color: #c00505;
  font-size: 1.8rem;
}

/* animaciones */

@-webkit-keyframes color-change-2x {
  0% {
    background-color: #04eeff;
  }
  100% {
    background-color: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background-color: #00eeff;
  }
  100% {
    background-color: #b22cff;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
